API_BASE_URL=http://localhost:3000
VERIFACTU_ENV=sandbox
COMPANY_NAME=Acme SL
ISSUER_NIF=B12345678
INVOICE_SERIAL=A-0001
INVOICE_DATE=2026-02-01
INVOICE_TOTAL=121
QUERY_YEAR=2026
QUERY_MONTH=2
RUN_REMOTE_QUERY=false
